h1{
    color: #760933;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFF4EA;
}
p{
    color: #000;
    background-color: #F7F5EB;
    border: 1px solid black;
    
}
.special{
    color:#DC474F;
    font-style: italic;
}
/*barre de navigation*/
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #042A38;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: teal;
}
/* Essai div et modification sur div*/
.shadowbox {
    border: 1px solid #042A38;
    box-shadow: 8px 8px 5px #760933;
    background-image: linear-gradient(180deg, #042A38, #ddd 40%, #ccc);
  }